PORT=3090
UPLOAD_DIR=../uploads/
AUTH_SERVICE_URL=http://auth-service:3001
MEMORIES_SERVICE_URL=http://memories-service:3002
SOCIAL_SERVICE_URL=http://social-service:3003
SHARING_SERVICE_URL=http://sharing-service:3004
